body {
  border-top: 1px solid #eee;
  background: #ddd;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 20px;
  background: white;
  z-index: 1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: all 0.2s ease-in;
}

.sidebar.open {
  transform: translateX(0);
}

button {
  outline: none;
  border: none;
  display: block;
  padding: 16px;
  font-size: 1.5rem;
  border-radius: 6px;
  background: rgb(68, 201, 188);
  transition: all 0.2s ease-out;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

button:hover {
  background: rgb(50, 163, 152);
}
